<h1>Restaurant Manager</h1>
<p>Welcome to this Ruby on Rails Project</p>
<p>Created by Chibuikem Nwauche</p>
<p>Project Goals:</p>
<p>Seperate Users based on Roles and Giving them Defined Actions they can Perform</p>
<p>Showing the Associations between Models</p>
<p>Displaying how an Admin can see and delete all users assocaited with the porject except themselves</p>
<p>To show how to nest 2 modals and respresent that in forms and tables <p>
<p>This Landing Page also Displays User Information Below</p>
