<div id="<%= dom_id table %>">
  <p>
    <strong>Tablename:</strong>
    <%= table.tablename %>
  </p>

  <p>
    <strong>Seatnumber:</strong>
    <%= table.seatnumber %>
  </p>

  <p>
    <strong>Isactive:</strong>
    <%= table.isactive %>
  </p>

</div>
